.squad {
  text-align: center;
  padding: 32px;
  background-blend-mode: multiply;
  position: relative;
}

.squad h3 {
  font-size: 32px;

  border-bottom: 1px solid transparent;
  border-image-source: linear-gradient(
    to right,
    transparent 0 30%,
    black 30% 70%
    transparent 70%
  );
  border-image-slice: 1;

  display: inline-block;
  padding-bottom: 8px;
}

.squad .container {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.input-colour {
  position: absolute;
  top: 20px;
  right: 50px;
}
